.hidden {
    display: none;
}

.selected {
    color: white;
    background-color: #bbb;
    border-radius: 5px;
}

body {
    width: 600px;
}

#input {
    width: 90%;
    margin-left: 5px;
}

/* list */

#list {
    width: 90%;
    margin-left: 5px;
    padding: 0;
    list-style-type: none;
}

/* item */

.item {
    white-space: nowrap;
    cursor: pointer;
}

.item .first-line, .item .second-line {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .second-line {
    margin-top: -17px;
}

/* text in item */

.item .favicon {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.item .title {
    font-size: small;
    color: #444;
}

.item .url {
    font-size: x-small;
    color: #888;
}
