#list {
    width: 600px;
    height: 600px;
}

.hidden {
    display: none;
}

.selected {
    color: white;
    background-color: red;
}

.item {
    white-space: nowrap;
}

.item .title {
    font-size: small;
    color: #444;
}

.item .url {
    font-size: x-small;
    color: #888;
}
